/*     
    display: block; - ustawia na całą linie
    display: inline; - ustawia jedno po drugim
    display: inline-block; - ustawia jedno po drugim ale te kture się nie zmieszczą są przesuwane do następnej linji
    min-width/height: ; - minimalna wysokość/szerokość
    max-width/height: ; - maxymalna wysokość/szerokość     
    padding: ;/margin: ; - robi marginesy
    border-radius: ; - zaokrągla ramkę
    position: sticky; + top: 0; - elęmęt bedzie jechał za nami podczas scrollowania 
*/

body {
    background-color: khaki;
  
}

#mein-header {
    background-color: aqua;
    color: chartreuse;
    font-size: 38px;
    text-align: center;

}

#style-textu p {
    color: green;
    font-size: 20px;

}

#style-textu b, s {
    background-color: red;
    font-size: 26px;
    color: blue;

}

